/*Foreword*/

.promo {
    margin-bottom: 103px;
  }

  .promo__container {
    position: relative;
    text-align: right;
    padding-top: 100px;
  }
  
  .foreword::before {
    content: url();
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../img/about_us/gates.jpg") center center / cover no-repeat;
   
  }
  
  .foreword__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 46px;
  }
  
  .foreword__subtitle-text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(6, 6, 6);
    line-height: 27px;
     margin-bottom: 43px;
  }
  
  .foreword__subtitle-text p {
    margin-bottom: 18px;
  }
  
  .foreword__subtitle-text p:last-child {
    margin-bottom: 0;
  }
  
  .foreword__pic {
    background: url(../../img/about_us/mountains.jpg) no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 785px;
    width: 100%;
    min-height: 455px;
    text-align: left;   
    padding: 70px 200px 70px 80px;
    box-sizing: border-box;     
  }
 
