/*Header*/

.header {
    padding: 25px 0;
    margin: 0 0 108px 0;
  }
  
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  
  .header__logo {
    margin-right: 79px;
  }
  
  .logo {
    display: inline-block;
    width: 85px;
    height: 36px;
  }
  
  .menu {
    display: inline-block;
    position: relative;
    top: -7px;
    left: 3px;
  }
  
  .menu__item {
    display: inline-block;
    position: relative;
    left: -11px;
    top: -2px;
    margin-right: 54px;
    font-size: 14px;
  }
  
  .menu__link {
    color: #fff;
    text-decoration: none;
  }
  
  .contacts {
    font-style: normal;
    float: right;
  }
  
  .contacts__tel {
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
  }
  
  .contacts__scheedule {
    width: max-content;
    margin-left: auto;
    color: #fff;
    font-size: 13px;
    position: relative;
    top: -6px;
    left: -2px;
    text-decoration: underline;
  }