/*Hero*/

.hero {
    display: flex;
    flex-direction: column;
           
  }

  .hero_page {
    margin-bottom: 0;
    padding: 0;
  }

 
  .hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    color: #fff;
    position: relative;
    margin-top: 0;
    max-width: 600px;
    margin-bottom: 27px;
  }
  
  .open__title {
    position: relative;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }

  /*Hero services*/

  .reviews__item {
    display: flex;
    padding-top: 70px;
  }
  
  .reviews__link {
    font-size: 14px;
    font-weight: 700;
    color: #9a9a9a;
  }
  
  .slash {
    color: #9a9a9a;
  }
  
