/*reviews*/

.impression {
    margin-bottom: 65px;
}

.impression__list {
    display: flex;
    padding-top: 98px;
}

.impression__item {
    margin-right: 27px;
}
.impression__item:last-child {
    margin-right: 0;

}

.impression__card {
    border-radius: 5px;
    background: #f4f5f5;
    width: 557px;
    height: 542px;
    margin-bottom: 17px;

}

.impression__card--size {
    height: 691px;
}


.impression__container {
  padding: 50px 31px 32px 31px;
  background-color: #F4F5F5;
}

.impression__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 27px;
}

.impression__pic {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
}

.impression__name {
    margin-left: 22px;
}

.impression__social--img:before {
  content: url("../../img/icon/vk-blue\ 1.png");
  height: 30px;
}


.impression__link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 7px;
  color:black;
  font-size: 24px;
  font-weight: 700;
}


.impression__link:hover{
    color: #2E77A4;
}

.impression__place {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    color: #303030;
    background: #E7E7E7;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 37px;
    margin-top: 3px;
}

.impression__place--color--blue {
    background-color: #B9EAE4;
}


.impression__review {
    font-size: 33px;
    line-height: 42px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 13px;
}

.impression__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #818181;
}

.impression__data {
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E);
    padding-top: 48px;
}



/*Review*/

.review {
    background: url(../../img/review/Rectangle.jpg) center center/ cover no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.review__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.review__title:last-child {
    margin-right: 32px;
}

.review__subtitle {
  max-width: 50%;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  padding: 0 0 20px 0;
}
.review__pic {
    padding: 22px 0 0 0;
}

.review__pic--content {
    width: 100%;
}



