/*reviews*/

.impression__list {
    display: flex;
    padding-top: 98px;
}

.impression__item {
    margin-right: 27px;
}
.impression__item:last-child {
    margin-right: 0;

}

.impression__card {
    border-radius: 5px;
    background: #f4f5f5;
    width: 557px;
    height: 542px;
    margin-bottom: 17px;

}

.impression__card--size {
    height: 691px;
}


.impression__container {
  padding: 50px 31px 32px 31px;
}

.impression__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.impression__pic {
  width: 142px;
  height: 142px;
  border-radius: 50%;
}

.impression__name {
    margin-left: 22px;
}

.impression__social--img::after {
  content: url("../../img/icon/vk-blue\ 1.png");
  height: 30px;
  width:30px;
}


.impression__link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-right: 7px;
  color: rgba(46, 119, 164, 1);
  font-size: 24px;
  font-weight: 700;
}

.impression__place {
    font-size: 13px;
    font-weight: 400;
    color: #303030;
    background: #b9eae4;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 37px;
    margin-top: 3px;
}

.impression__review {
    font-size: 30px;
    font-weight: 700;
    color: rgba(26, 27, 30, 1);
}

.impression__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(129, 129, 129, 1);
}

.impression__data {
    font-size: 14px;
    font-weight: 600;
    color: rgba(26, 27, 30, 1);
}