body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  background: url("../img/Fon/heder_fon.jpg") center top no-repeat,
    url("../img/Fon/footer_fon.jpg") center bottom no-repeat;
  background-color: #001821;
 }

/*Header*/

.header {
  padding: 25px 0;
  margin: 0 0 108px 0;
 }

.container {
  width: 1140px;
  margin: 0 auto;
 
}

.header__logo {
  margin-right: 79px;
}

.logo {
  display: inline-block;
  width: 85px;
  height: 36px;
}

* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

img {
  width: 100%;
}

h1 h2 h3 h4 h5 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

.menu {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 3px;
}

.menu__item {
  display: inline-block;
  position: relative;
  left: -11px;
  top: -2px;
  margin-right: 54px;
  font-size: 14px;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}

.contacts {
  font-style: normal;
  float: right;
}

.contacts__tel {
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
}

.contacts__scheedule {
  width: max-content;
  margin-left: auto;
  color: #fff;
  font-size: 13px;
  position: relative;
  top: -6px;
  left: -2px;
  text-decoration: underline;
}

/*Main-page*/
/*Блок авторкие туры по Азии*/
.hero  {
  display: inline-block;
  width: 511px;
  margin-bottom: 246px;  
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
  color: #fff;
  position: relative;
  margin-top: 0;
  max-width: 600px;
  margin-bottom: 27px;
}

.open__title {
  position: relative;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.view-btn {
  border: 1px solid #f5170e;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 18px 40px;
  background-color: #f5170e;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/*Tours*/
/*Блок с горящими турами*/

.tour__burning_subtitle::after {
  content: url("../img/icon/flame.png");
  margin-left: 12px;
}

.tour__burning {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 53px;
  color: #fff;
}

.offers {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  width: 362px;
  height: 452px;
  background-color: #fff;
  margin-bottom: 127px;
}

.offers:last-child {
  margin-right: 0%;
}

.offers__services{
 
}

.offers__title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 22px;
  color: #000000;
}


.offers__info {
  margin-bottom: 23.5px;
}


.offers__data {
  display: inline-block;
  position: relative;
  margin: 28px 0 0 30px;
  
}


.offers__img {
  width: 362px;
    
}

.calendar__img {
  width: 26px;
  height: 26px;
}

.food__img {
  width: 36px;
  height: 26px;
}

.data__title {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  text-indent: 25px;
  position: relative;
  top: -7px;
  right: -7px;
}

.offers__pic {
  position: relative;
  margin-bottom: 33px;
}

.offers__text{
  font-size: 14px;
  font-weight: 400;
  width: 324px;
  padding-left: 22px;
  color: #303030;
  margin-bottom: 35px;
}

.offers__btn {
  border: 1px solid #f5170e;
  box-sizing: border-box;
  margin-left: 24px ;
  border-radius: 35px;
  padding: 18px 29px;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f5170e;
  cursor: pointer;
}

.offers__btn:hover {
  background-color: #f5170e;
  color: #fff;
}


/*Promotion*/
/*Новости Акции*/

.action {
  margin-bottom: 144px;
}
.action__news {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 60px;
}


.action__stock {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 556px;
  margin-right: 22px;
  margin-bottom: 50px;
}

.action__stock:last-child {
  margin-right: 0px;
}

.action__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 135px;
}

.action__time {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 12px;
}

.action__title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4px;
}

.action__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/*Paginator*/

.pagination {
  text-align: center;
  margin-bottom: 151px;
}

.pagination__display,
.pagination__list {
  display: inline-block;
  vertical-align: middle;
}
.pagination__display {
  margin-right: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link:hover {
  background-color: #f5170e;
}

.pagination__link {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  line-height: 32px;
}

/*About US*/


.foreword {
  
}

.foreword__pic {
  display: inline-block;
  position: relative;
  
}

.foreword__pic:last-child {
  margin-right: 0px;
}




/*margin-left: 355px;
  margin-top: -411px; */

.foreword__first-img {
  width: 490px;
}

.foreword__second-img {
  position: relative;
  margin-left: -140px;
  margin-bottom: -47px;
  width: 784px;
}

.foreword__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.foreword__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.about__btn {
  border: 1px solid #f5170e;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 18px 40px;
  background-color: #f5170e;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/*Footer*/

.basement {
  padding: 25px 0;
  margin: 0 0 108px 0;
  
}

.footer__logo {
  margin-right: 79px;  
}



.footer__menu {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 3px;
  
}

.footer__item {
  display: inline-block;
  position: relative;
  left: -11px;
  top: -2px;
  margin-right: 54px;
  font-size: 14px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.social__link {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  
}
.social__link:last-child {
  margin-right: 0;
}

.social__media {
  
}

.contacts__free {
  width: max-content;
  margin-left: auto;
  color:#9A9A9A;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  top: -2px;
  left: -2px;
  text-decoration: none;
}

.social {
  display: inline-block;
  position: relative;
  top: 53px;
  right: 300px;
}

.social__pic {
  width: 36px;
  height: 36px;
}

/*
.footer {
  padding: 25px 0;
  display: inline-block;
}


.footer-logo {
  margin-right: 79px;
}

.footer_list {
  display: inline-block;
}

.social {
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
*/


/*

.tours__item:last-child {
  margin-right: 0;
}

.flame-tours {
  margin-bottom: 127px;
}

.offer__wrap-content {
  padding: 30px 22px;
}

.stock:last-child {
  margin-right: 0;
}

.page-toure {
  padding: 108px 0 251px;
}
