body {
  font-family: "Open Sans", sans-serif;
}

.wrapper_main {
  background: url("../img/Fon/heder_fon.jpg") no-repeat top center;
  background-color: #001821;
}

/*Header*/

.header {
  padding: 25px 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

.header__logo {
  margin-right: 79px;
}

.logo {
  display: inline-block;
  width: 85px;
  height: 36px;
}

* {
  padding: 0;
  margin: 0;
}

ul,li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  margin-top: 0;
}

.menu {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 3px;
 }

.menu__item {
  display: inline-block;
  position: relative;
  left: -11px;
  top: -2px;
  margin-right: 54px;
  font-size: 14px;
}


.menu__link {
  color: #fff;
  text-decoration: none;
 }

.contacts {
  font-style: normal;
  float: right;
}

.contacts__tel {
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
}

.contacts__scheedule {
  width: max-content;
  margin-left: auto;
  color: #fff;
  font-size: 13px;
  position: relative;
  top: -6px;
  left: -2px;
  text-decoration: underline;
}

/*Main-page*/
/*Блок авторкие туры по Азии*/
.basic {
  display: inline-block;
  margin: 188px 0px 0 -29px;;
  width: 511px;
  height: 333px;
  position: relative;
  top: -98px;
  left: 26px;
  margin-bottom: 165px;
}

.view {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  position: relative;
  margin-top: 27px;
 
}

.open-title {
  position: relative;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  
}

.view-btn {
  border: 1px solid #f5170e;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 18px 40px;
  background-color: #f5170e;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}


/*Tours*/
/*Блок с горящими турами*/

.fiery-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 80px;
  color: #fff;  
  margin-left: 223px;
}

.block {
  display: inline-block;
  vertical-align: top;
}

.item {
  position: relative;
  margin-right: 23px;
  top: -26px;
  left: 219px;
  width: 362px;
  height: auto;
  margin-bottom: 127px;
  background-color: #fff;
}

.tour-img {
  width: 362px;
  height: 144px;
}


.flame-title {
  margin-left: 22px;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 700;
}

.calendar-title {
  font-size: 16px;
  font-weight: 400;
}

.food-title {
  font-size: 16px;
  font-weight: 400;
}

.offers-pic {
  margin-bottom: 33px;
 
}

.info {
  display: inline-block;
  margin-bottom: 23px;
}

.info__data {
  display: inline-block;
  margin-left: 28px;
}

.calendar-img {
  margin-right: 10px;
  width: auto;
}

.food-img {
  width: 36px;
  height: 26px;
}

.data-title {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -7px;
}

.text-offer {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #303030;
  padding-left: 22px;
}

.btn {
  border: 1px solid #f5170e;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 18px 30px;
  margin: 24px 0 26px 24px;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f5170e;
  cursor: pointer;
}

.btn:hover {
  background-color: #f5170e;
  color: #fff;
}
  

/*Promotion*/
/*Новости Акции*/

.title-hero {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  margin-left: 221px;
}

.stock {
  display: inline-block;
  vertical-align: top;
  width: 557px;
  position: relative;
   
}

.promotion-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 135px;
}

.promotions img {
  display: inline-block;
  width: 557px;
  height: 334px;
}

.promotions-time {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 12px;
}

.promotions-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4px;
}

.promotions-sub {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/*Paginator*/

.paginations {
  text-align: center;
}

.pagination__display, .pagination__list {
  display: inline-block;
  vertical-align: middle;
}
.pagination__display {
  margin-right: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  
}

.pafinator__list--active .pagination__link {
  background-color: #f5170e;
}

.pagination__link {
  font-size: 16px;
  font-weight: 700;
  color: #fff;  
  text-decoration: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  line-height: 32px;
}

/*About US*/

.about .us{
display: inline-block;  
}

.about__pic-img {
  width: 490px;
  height: 505px;
}

.us-img {
  width: 785px;
  height: 455px;
}


/*Footer*/

.wrap {
 height: 20%;
}
.footer {
  padding: 25px 0;
}

.footer-logo {
  margin-right: 79px;
}
